<mat-card style="border: 1px solid darkgrey;">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Course Information</mat-card-title>
    </mat-card-header>
    <form class="example-container"  [formGroup]="angForm" novalidate>
        <mat-divider style="color: darkgrey"></mat-divider>
        <br>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Student ID" formControlName="id" type="text" matTooltip="EX: IT123456"
                pattern="IT[0-9]{8}">
            <div *ngIf="angForm.controls['id'].invalid && (angForm.controls['id'].dirty || angForm.controls['id'].touched)"
                class="alert alert-danger">
                <div *ngIf="angForm.controls['id'].errors.required">
                    Student ID is required.
                </div>
                <div *ngIf="angForm.controls['id'].errors.pattern">
                    Input Invalide(EX: IT123456)
                </div>
            </div>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <input placeholder="Class" formControlName="txtClass" type="text" matInput matTooltip="EX: Group 7.1">
            <div *ngIf="angForm.controls['txtClass'].invalid && (angForm.controls['txtClass'].dirty || angForm.controls['txtClass'].touched)"
                class="alert alert-danger">
                <div *ngIf="angForm.controls['txtClass'].errors.required">
                    Class is required.
                </div>
            </div>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <input placeholder="Course" formControlName="txtCourse" type="text" matInput matTooltip="Ex: Java"
                pattern="[A-Za-z]*">
            <div *ngIf="angForm.controls['txtCourse'].invalid && (angForm.controls['txtCourse'].dirty || angForm.controls['txtCourse'].touched)"
                class="alert alert-danger">
                <div *ngIf="angForm.controls['txtCourse'].errors.required">
                    Course is required.
                </div>
                <div *ngIf="angForm.controls['txtCourse'].errors.pattern">
                    Input Invalide(Text only)
                </div>
            </div>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <input placeholder="Teacher" formControlName="txtTecher" type="text" matInput
                matTooltip="Ex : Miss Thanuja " pattern="[A-Za-z]*">
            <div *ngIf="angForm.controls['txtTecher'].invalid && (angForm.controls['txtTecher'].dirty || angForm.controls['txtTecher'].touched)"
                class="alert alert-danger">
                <div *ngIf="angForm.controls['txtTecher'].errors.required">
                    Teacher is required.
                </div>
                <div *ngIf="angForm.controls['txtTecher'].errors.pattern">
                    Input Invalide(Text only)
                </div>
            </div>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <input placeholder="Course Free" #txtCourseFree formControlName="txtCourseFree" type="text" matInput
                matTooltip="Ex: RS 120.00" pattern="[0-9]+(\.[0-9]{1,2})?">
            <div *ngIf="angForm.controls['txtCourseFree'].invalid && (angForm.controls['txtCourseFree'].dirty || angForm.controls['txtCourseFree'].touched)"
                class="alert alert-danger">
                <div *ngIf="angForm.controls['txtCourseFree'].errors.required">
                    Course Free is required.
                </div>
                <div *ngIf="angForm.controls['txtCourseFree'].errors.pattern">
                    Input Invalide(Numbers only)
                </div>
            </div>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <input placeholder="Fee Paid" #txtFee formControlName="txtFee" type="text" matInput
                matTooltip="Ex: RS 120.00" pattern="[0-9]+(\.[0-9]{1,2})?">
            <div *ngIf="angForm.controls['txtFee'].invalid && (angForm.controls['txtFee'].dirty || angForm.controls['txtFee'].touched)"
                class="alert alert-danger">
                <div *ngIf="angForm.controls['txtFee'].errors.required">
                    Fee Paid is required.
                </div>
                <div *ngIf="angForm.controls['txtFee'].errors.pattern">
                    Input Invalide(Numbers only)
                </div>
            </div>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width" (click)="cal(txtCourseFree.value,txtFee.value)">
            <input placeholder="Balanse" type="text" [disabled]="data != null" formControlName="txtBalanse" matInput
                matTooltip="Clike here to get a balanse" #txtBalanse  value={{data}}>
        </mat-form-field>

        <br>
        <mat-divider style="color: darkgrey"></mat-divider>
        <mat-card-actions style="width: 800px;" >
            <div style="text-align: center">
                <button mat-raised-button style="background-color: blue;"[disabled]="angForm.invalid" type="submit" (click)="save(angForm.value=null)">Save</button>
            </div>
        </mat-card-actions>
    </form>
</mat-card>
<br>