<mat-card style="border: 1px solid darkgrey;  background-color: #D7FECA">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Studenyt Information </mat-card-title>
        <div class="mat-dialog-close" id="b1" (click)="closeWindow()"></div>
    </mat-card-header>
    <form class="example-container" [formGroup]="angForm" novalidate>
        <mat-divider style="color: darkgrey"></mat-divider>
        <br>
        <div>
            <div class="row">
                <div class="col-md-6">
                    <div class="avatar-upload">
                        <div class="avatar-edit">
                            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                            <label for="imageUpload"></label>
                        </div>
                        <div class="avatar-preview">
                            <div id="imagePreview" style="background-image: url(../../../../assets/img/prs.png);"></div>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-6">
                    <br><br><br><br><br>
                    <div class="row" style="margin-left: 10px;">
                        <div class="col-7" style=" margin-left: 10px; border: 1px solid darkgrey"></div>
                        <div class="col-1">File</div>
                    </div>
                    <div class="row " style="margin-left: 30px;">
                        <mat-card-actions>
                            <button mat-raised-button style="background-color: green; color: white">Uplode</button>
                        </mat-card-actions>
                        <!-- <p style="margin-left: 10px;">Student ID : S001</p> -->
                    </div>
                </div>
            </div>
        </div>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Student ID" formControlName="id" #id type="text" matTooltip="EX: IT123456"
                pattern="IT[0-9]{8}">
            <div *ngIf="angForm.controls['id'].invalid && (angForm.controls['id'].dirty || angForm.controls['id'].touched)"
                class="alert alert-danger">
                <div *ngIf="angForm.controls['id'].errors.required">
                    Student ID is required.
                </div>
                <div *ngIf="angForm.controls['id'].errors.pattern">
                    Input Invalide(EX: IT123456)
                </div>
            </div>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput matInput placeholder="Student Name" formControlName="name" type="text"
                matTooltip="EX: Lahiru kumare sendanayagame" pattern="[A-Za-z]*">
            <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)"
                class="alert alert-danger">
                <div *ngIf="angForm.controls['name'].errors.required">
                    Student name is required.
                </div>
                <div *ngIf="angForm.controls['name'].errors.pattern">
                    Input Invalide(Text only)
                </div>
            </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput matInput placeholder="Email" formControlName="email" type="email"
                matTooltip="EX: savithry.ni@gmail.com">
            <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)"
                class="alert alert-danger">
                <div *ngIf="angForm.controls['email'].errors.required">
                    Email is required.
                </div>
                <div *ngIf="angForm.controls['email'].errors.email">
                    Please enter a valid email address
                </div>
            </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput matInput placeholder="Mobile" formControlName="Mobile" type="text"
                matTooltip="EX: 0770000000" pattern="[0-9]{10}">
            <div *ngIf="angForm.controls['Mobile'].invalid && (angForm.controls['Mobile'].dirty || angForm.controls['Mobile'].touched)"
                class="alert alert-danger">
                <div *ngIf="angForm.controls['Mobile'].errors.required">
                    Mobile is required.
                </div>
                <div *ngIf="angForm.controls['Mobile'].errors.pattern">
                    Please enter a valid Mobile Number
                </div>
            </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput matInput placeholder="Parent name" formControlName="Pname" type="text"
                matTooltip="EX: Suraj Kumare" pattern="[A-Za-z]*">
            <div *ngIf="angForm.controls['Pname'].invalid && (angForm.controls['Pname'].dirty || angForm.controls['Pname'].touched)"
                class="alert alert-danger">
                <div *ngIf="angForm.controls['Pname'].errors.required">
                    Parent name is required.
                </div>
                <div *ngIf="angForm.controls['Pname'].errors.pattern">
                    Please enter a valid name
                </div>
            </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput matInput placeholder="Parent Mobile" formControlName="PMobile" type="text"
                matTooltip="EX: 0770000000" pattern="[0-9]{10}">
            <div *ngIf="angForm.controls['PMobile'].invalid && (angForm.controls['PMobile'].dirty || angForm.controls['PMobile'].touched)"
                class="alert alert-danger">
                <div *ngIf="angForm.controls['PMobile'].errors.required">
                    Mobile is required.
                </div>
                <div *ngIf="angForm.controls['PMobile'].errors.pattern">
                    Please enter a valid Mobile Number
                </div>
            </div>
        </mat-form-field>


        <mat-form-field class="example-full-width">
            <input matInput matInput placeholder="Address" formControlName="Address" type="text" matTooltip="EX: Malabe"
                pattern="[A-Za-z]*">
            <div *ngIf="angForm.controls['Address'].invalid && (angForm.controls['Address'].dirty || angForm.controls['Address'].touched)"
                class="alert alert-danger">
                <div *ngIf="angForm.controls['Address'].errors.required">
                    Address is required.
                </div>
                <div *ngIf="angForm.controls['Address'].errors.pattern">
                    Please enter a valid Address
                </div>
            </div>
        </mat-form-field>

        <mat-divider style="color: darkgrey"></mat-divider>
    </form>
    <mat-card-actions style="width: 500px;">
        <button mat-raised-button style="background-color: green; margin-left: 200px; color: white" [disabled]="angForm.invalid"
            type="submit" (click)="save()" >Update</button>
    </mat-card-actions>
</mat-card>