<mat-toolbar >
    <mat-toolbar-row fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10%" fxLayoutAlign="center">
        <a id="home" routerLink="/StudentPortal/PersonalInformation" routerLinkActive="active" fxFlex="20%"> Personal Information </a>
        <span class="example-spacer"></span>
        <a id="about" routerLink="/StudentPortal/CourseInformation" routerLinkActive="active" fxFlex="20%"> Course Information </a>
        <span class="example-spacer"></span>
        <a id="open-close" routerLink="/StudentPortal/StudentTableView" routerLinkActive="active" fxFlex="20%"> Personal/Course Information </a>
    </mat-toolbar-row>
</mat-toolbar>
